.Navbar-containers{
    box-shadow: rgba(1, 41, 112, 0.1) 0px 2px 20px;
    background-color: rgb(255, 255, 255);
    transition: all 0.5s ease 0s;
    z-index: 997;
    height: 60px;
    display: flex;
    padding-left: 20px;
    align-items: center;
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
}
.logo-containers{
display: flex;
align-items: center;
justify-content: space-between;
}
.logo-names{
    width: 260px;
}
.menu-icons{
    font-size: 32px !important;
    padding-left: 10px;
    cursor: pointer;
    color: rgb(1, 41, 112);
}
.admin-profile-container{
    margin-left: auto;
    display: flex;
    align-items: center; 
    justify-content: center;
     padding-right: 1.5rem !important;
}
.admin-name{
    font-size: 16px;
    font-weight: 600;
    padding-left: 0.5rem;
    color: rgb(1, 41, 112);
}
.profile-icon{
    color: rgb(124, 124, 124);
    font-size: 32px !important;
}
.logo-names{
    font-size: 22px;
    font-weight: bold;
}
span{
    color:rgb(1, 41, 112) ;
}